
@{
    ViewBag.Title = "Index";

    
    <link href="~/Styles/buttons.css" rel="stylesheet" />

}
<ul id="buttons">
    <li>@Html.ActionLink("Register Manually", "Register", "Admin")</li>
    <li>@Html.ActionLink("Manufacturer ", "Manufacturers", "Admin")</li>
    <li>@Html.ActionLink("Distributor ", "Distributors", "Admin")</li>
    <li>@Html.ActionLink("Hospital ", "Hospitals", "Admin")</li>
    <li>@Html.ActionLink("Add New Vaccine ", "Create", "VaccineTypes")</li>
    <li>@Html.ActionLink("Delete USer ", "Users", "Admin")</li>
</ul>

